.icon {
  margin-right: 10px;
  display: inline;
  color: darkgray;
}

.color-active * {
  color: var(--light-blue) !important;
}

.link {
  color: var(--blue-safe);
}

.icon-link-wrapper {
  padding: 15px 20px;
  font-size: 14px;
}

.icon-link-wrapper-active {
  @extend .icon-link-wrapper;
  border-radius: 10px;
  background-color: rgba(51, 170, 51, 0.1);
}

.container {
  width: auto !important;
  padding: 10px 0 !important;
  margin: auto;
}

.container-active {
  @extend .container;
  border-bottom: 2px solid var(--light-blue);
  margin-top: 2px;
}

svg {
  margin-bottom: 2px;
}
