.premium {
  color: var(--premium-color);
}

.contact-wrapper {
    margin: 10px 0 0 20px;
} 

@media only screen and (max-width: 991px) {
    .contact-wrapper {
        margin: 0;
    }   
}

.contact-name {
    color: var(--blue-safe);
}

.contact-email {
    font-size: 14px; 
    color: gray;
}

.brand {
    margin-top: 10px;
}

.brand-img {
    width: 80px;
    height: 25px; 
    margin-bottom: 10px;
}

.brand-text {
    color: var(--light-blue);
    font-size: 12px;
}
