@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");

body * {
  font-family: "DM Sans", sans-serif;
}

:root {
  --premium-color: #66cc99;
  --blue-safe: #003366;
  --light-blue: #2596be;
}
